/* Basic. Fonts */

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('https://shpilson.github.io/ameton/fonts/museosanscyrl-500.ttf') format('ttf');
}

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('https://shpilson.github.io/ameton/fonts/museosanscyrl-700.ttf') format('ttf');
}

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('https://shpilson.github.io/ameton/fonts/museosanscyrl-900.ttf') format('ttf');
}

/* Styles */

body {
    font-family: "Museo Sans Cyrl", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    max-height: 306px;
    background-color: #93BBEA;
}
.header__text {
}
.header__text-title {
}
.header__text-undertitle {
}
.header__buttons {
}
.header__button {
}
.socials {
}
.socials__text {
}
.socials__text-subtitle {
}
.socials__text-title {
}
.socials__box {
}
.socials__link {
}
.contacts__social-image {
}
.faq {
}
.faq__title {
}
.title {
}
.faq__questions-carousel {
}
.faq__card {
}
.faq__card-title {
}
.faq__card-text {
}
.help {
}
.help__title {
}
.help__container {
}
.help__accordion {
}
.help__accordion-item {
}
.help__accordion-link {
}
.help__accordion-title {
}
.help__accordion-answer {
}
.help__acordion-undertitle {
}