/* Basic. Fonts */

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('/fonts/museosanscyrl-500.ttf') format('ttf');
}

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('/fonts/museosanscyrl-700.ttf') format('ttf');
}

@font-face {
    font-family: "Museo Sans Cyrl";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Museo Sans Cyrl"), url('/fonts/museosanscyrl-900.ttf') format('ttf');
}

/* Styles */

body {
    font-family: "Museo Sans Cyrl", system-ui;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 40px auto 0;
    height: 306px;
    border-radius: 40px;
    background-color: #93BBEA;
    background-image: url("/img/bg.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header__text {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
    color: #FFFFFF;
}

.header__text-undertitle {
    width: 535px;
    text-align: center;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button {
    margin: 0 4px;
    width: 160px;
    height: 48px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: #1A1A1A;
}

.header__button--chat {
    padding-left: 25px;
    background: url("/img/chat-icon.svg") no-repeat 25px;
    background-color: #FFFFFF;
}

.header__button--call {
    padding-left: 25px;
    background: url("/img/call-icon.svg") no-repeat 25px;
    background-color: #FFFFFF;
}

.header__button--mail {
    padding-left: 25px;
    background: url("/img/mail-icon.svg") no-repeat 45px;
    background-color: #FFFFFF;
}

.header__button--feedback {
    padding-left: 25px;
    background: url("/img/star-icon.svg") no-repeat 15px;
    background-color: #FFFFFF;
}

.socials {
    width: 996px;
    margin: 80px auto;
    height: 166px;
    border-radius: 40px;
    box-shadow: 0px 20px 60px rgba(26, 26, 26, 0.05);
    border-radius: 40px;
    background-color: #FFFFFF;
}

.socials__container {
    display: flex;
}

.socials__text {
    display: flex;
    flex-direction: column;
    margin: 42px 40px;
}

.socials__text-subtitle {
    font-weight: 600;
    font-size: 15px;
    color: #1A1A1A;
}

.socials__text-title {
    margin: 16px 0 0px 0;
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.socials__box {
    display: flex;
    margin: 55px 40px;
}

.socials__link {
    margin: 7px;
}

.contacts__social-image {}

.faq {
    margin: 80px 0;
}

.faq__title {
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 40px;
    color: #1A1A1A;
}

.faq__questions-carousel {
    display: flex;
}

.faq__card {
    display: flex;
    margin: 32px auto;
    width: 282px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.faq__card-title {
    margin: 16px 16px 0;
    font-weight: 600;
    font-size: 20px;
    color: #1A1A1A;
    line-height: 120%;
}

faq__card-title--500 {
    font-weight: 500;
}

.faq__answer {
    display: flex;
    flex-direction: column;
}

.faq__card-text {
    margin: 8px 16px;
    font-size: 15px;
    color: #949494;
}

.faq__img {}

.help {
    margin: 0 0 32px;
}

.help__title {
    text-align: center;
    margin: 0 0 32px;
}

.help__accordion {
    display: flex;
    flex-direction: column;
}

.help__accordion-item {
    min-height: 64px;
    margin: 12px 142px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    cursor: pointer;
}

.help__accordion-title {
    margin: 20px 24px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A1A;
}

.help__accordion-arrow {
    margin: 0 24px;
}

.help__accordion-answer {
    display: flex;
    margin: 0 142px;
    justify-content: space-between;
    padding: 0 24px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.help__acordion-undertitle {
    max-width: 450px;
    font-size: 13px;
    line-height: 140%;
    color: #949494;
    margin: 4px 24px 20px;
}